@charset "UTF-8";
/*  reset */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, figure {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

del, ins {
  text-decoration: none;
}

fieldset, img {
  border: 0;
}

button, input, select, textarea {
  font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif;
}

input, select, img {
  vertical-align: middle;
}

input, select {
  outline: none;
}

ul, ol {
  list-style: none;
}

label {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

address, cite, dfn, em, var {
  font-style: normal;
}

body {
  -ms-text-size-adjust: none;
  -o-user-select: none;
  -o-text-size-adjust: none;
  user-select: none;
  text-size-adjust: none;
  font: 0.6rem "微软雅黑",Arial,Helvetica,sans-serif;
  min-height: 100%;
}

a {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

.clearfix:after {
  content: "";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}

.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/*  end reset */
.m_mobile {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 16rem;
  height: 100%;
  background: #0084ff;
}
.m_mobile .img {
  padding-top: 2.15rem;
  position: relative;
  width: 16rem;
  height: 13.325rem;
  background: url(../images/img1.png) no-repeat center bottom;
  background-size: 14.825rem 13.325rem;
}
.m_mobile p {
  position: absolute;
  width: 16rem;
  bottom: 1.55rem;
  font-size: 0.8rem;
  height: 0.8rem;
  text-align: center;
  color: #41c6ff;
}
.m_mobile a {
  display: block;
  margin: 3.625rem auto 0;
  width: 7.775rem;
  height: 1.575rem;
  line-height: 1.575rem;
  background: #41c6ff;
  text-align: center;
  color: #fff;
  font-size: 0.75rem;
}

.m_pc {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 16rem;
  height: 100%;
}
.m_pc .img {
  padding-top: 86px;
  position: relative;
  width: 100%;
  height: 533px;
  background: url(../images/img2.png) no-repeat center bottom;
  background-size: 593px 533px;
}
.m_pc p {
  position: absolute;
  width: 16rem;
  bottom: 62px;
  font-size: 32px;
  height: 32px;
  text-align: center;
  color: #999;
}
.m_pc a {
  display: block;
  margin: 145px auto 0;
  width: 311px;
  height: 63px;
  line-height: 63px;
  background: #41c6ff;
  text-align: center;
  color: #fff;
  font-size: 30px;
}
