/*
@ czh
*/

/*  reset */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,figure{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0;}
del,ins{text-decoration:none}
fieldset,img{border:0;}
button,input,select,textarea{font-family:"Microsoft Yahei",Arial,Helvetica,sans-serif;}
input,select,img{vertical-align:middle}
input,select{outline:none}
ul,ol{list-style:none}
label{cursor:pointer}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
body{-ms-text-size-adjust:none;-o-user-select:none;-o-text-size-adjust:none;user-select:none;text-size-adjust:none;font:0.6rem "微软雅黑",Arial,Helvetica,sans-serif;min-height:100%;}
a{-webkit-user-select:none;-webkit-user-drag:none;-webkit-tap-highlight-color:rgba(0,0,0,0);text-decoration: none;}
.clearfix:after{content:"";height:0;visibility:hidden;display:block;clear:both;}
.clearfix{zoom:1;}
.clear{clear:both}
.fl{float:left;}
.fr{float:right;}
/*  end reset */

body {
  background:#8be0ff;
}
/* banner */
.m_banner {
  background:url(../images/banner.jpg) no-repeat center 0;
  height:829px;
  .b1 {
    height:430px;
    background:url(../images/b1_pc.jpg) no-repeat;
  }
  .b2 {
    position:relative;
    width:1020px;
    margin:0 auto;
    height:829px;
    background:url(../images/b2_pc.jpg) no-repeat;
    img {
      position:absolute;
      left:63px;
      top:482px;
    }
  }
}
/* end banner */

/* public */
.m_active,.m_comment {
  width:1000px;
  margin:0 auto 40px;
  background:#5097f7;
  border-radius:10px;
  border-bottom:solid 7px #1f70dd;
  padding-bottom:22px;
  h4{
    position:relative;
    top:-30px;
    width:211px;
    height:40px;
    padding-top:30px;
    margin:0 auto;
    text-align:center;
    color:#7f4b1d;
    font-size:18px;
    background:url(../images/title.jpg) no-repeat;
    font-style: normal;
  }
  .img,.plus{
    width:980px;
    margin:-19px auto 0;

    border-radius:8px;
  }
}
/* end public */


/* active */
.m_active {
  .img{
    height:858px;
    border-top:16px solid #fff;
    border-bottom:16px solid #fff;
    background:url(../images/img2.jpg) no-repeat;
    div {
      height:411px;
      background:url(../images/img1.jpg) no-repeat;
    }
  }
}
/* end active */

/* comment */
.m_comment {
  width:1000px;
  margin:0 auto;
  padding-bottom:22px;
  .plus {
    height:891px;
    background:url(../images/plus.jpg) no-repeat;
  }
}
/* end comment*/

/* popup */
.m_pop{
  z-index:200;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  .filter {
    position:absolute;
    left:0;
    top:0;
    background:#000;
    opacity:0.4;
    filter:alpha(opacity=40);
    width:100%;
    height:100%;
  }
  .box {
    position:absolute;
    left:50%;
    top:50%;
    width:464px;
    padding-bottom:21px;
    margin-left:-232px;
    margin-top:-137px;
    background:#ffdf71;
    border-radius:15px;
    border-bottom:3px solid #edc53a;
  }
  .bg {
    position:absolute;
    width:465px;
    height:140px;
    background:url(../images/popBg.png) no-repeat;
    top:-11px;
    left:-11px;

  }

  h3 {
    padding-left:28px;
    line-height:26px;
    font-size:20px;
    color:#2c2c2c;
    margin-bottom:8px;
  }
  .close {
    position:absolute;
    background:url(../images/close.png) no-repeat;
    width:24px;
    height:24px;
    right:13px;
    top:20px;
    z-index:203;
  }
  .content {
    position:relative;
    z-index:202;
    padding-top:25px;
    width:431px;
    margin:0 auto;
  }
  .vedio {
    display:none;
    height:235px;
    background:#000;
  }
  .text {
    background:#fff;
    border-radius:15px;
    padding:21px 0 0 27px;
    width:404px;
    heightr:134px;
    lone-height:28px;
    font-size:18px;
    color:#666666;
  }
  span {
    vertical-align: top;
    display: inline-block;
    height:106px;
  }
  .txt {
    display: inline-block;
    width:304px;
  }
}
/* end popup */