@charset "UTF-8";
/*  reset */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, figure {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

del, ins {
  text-decoration: none;
}

fieldset, img {
  border: 0;
}

button, input, select, textarea {
  font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif;
}

input, select, img {
  vertical-align: middle;
}

input, select {
  outline: none;
}

ul, ol {
  list-style: none;
}

label {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

address, cite, dfn, em, var {
  font-style: normal;
}

body {
  -ms-text-size-adjust: none;
  -o-user-select: none;
  -o-text-size-adjust: none;
  user-select: none;
  text-size-adjust: none;
  font: 0.6rem "微软雅黑",Arial,Helvetica,sans-serif;
  min-height: 100%;
}

a {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

.clearfix:after {
  content: "";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}

.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/*  end reset */
/* popup */
.m_popup {
  width: 296px;
  height: 319px;
  background: url(../images/pop.png) no-repeat;
  background-size: 296px auto;
  margin-top: -160px;
  margin-left: -148px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 11;
}
.m_popup .close {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 3px;
}
.m_popup .advice {
  width: 138px;
  height: 48px;
  position: absolute;
  left: 80px;
  bottom: 20px;
}

.m_filter {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
