/*  reset */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,figure{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0;}
del,ins{text-decoration:none}
fieldset,img{border:0;}
button,input,select,textarea{font-family:"Microsoft Yahei",Arial,Helvetica,sans-serif;}
input,select,img{vertical-align:middle}
input,select{outline:none}
ul,ol{list-style:none}
label{cursor:pointer}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
body{-ms-text-size-adjust:none;-o-user-select:none;-o-text-size-adjust:none;user-select:none;text-size-adjust:none;font:0.6rem "微软雅黑",Arial,Helvetica,sans-serif;min-height:100%;}
a{-webkit-user-select:none;-webkit-user-drag:none;-webkit-tap-highlight-color:rgba(0,0,0,0);text-decoration: none;}
.clearfix:after{content:"";height:0;visibility:hidden;display:block;clear:both;}
.clearfix{zoom:1;}
.clear{clear:both}
.fl{float:left;}
.fr{float:right;}
/*  end reset */
body {
  background:#8cdafe;
}
$base:40;
@mixin sprite($x,$y){
  background:url(../images/sprites.png) no-repeat;
  background-size:730rem/$base 164rem/$base;
  background-position:$x/$base * 1rem $y/$base *1rem;
}
.g_banner {
  position:relative;
  height:612rem/$base;
  background:url(../images/b2.jpg) no-repeat;
  background-size:16rem auto;
  i {
    position:absolute;
    right:5rem/$base;
    top:47rem/$base;
    width:115rem/$base;
    height:101rem/$base;
    @include sprite(-619,0);
  }
  .b1 {
    height:306rem/$base;
    background:url(../images/b1.jpg) no-repeat;
    background-size:16rem auto;
  }
  .m_user {
    position:absolute;
    bottom:0;
    left:0;
    line-height:55rem/$base;
    font-size:28rem/$base;
    color:#333333;
    width:100%;
    em {
      color:#ff83c1;
      font-style:normal;
    }
    .fl {
      padding-left:45rem/$base
    }
    .fr {
      position:absolute;
      right:0;
      padding-right:30rem/$base
    }
    a {
      display: inline-block;
      vertical-align: middle;
    }
    .name {
      color:#ff83c1;
      text-decoration: underline;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width:200rem/$base;
    }
    .btn {
      width:100rem/$base;
      height:44rem/$base;
      text-align:center;
      line-height:40rem/$base;
      border-bottom:solid 4rem/$base rgba(0,0,0,0.1);
      color:#fff;
      font-size:24rem/$base;
      background:#b381ff;
      border-radius:6rem/$base;
      &:active {
        background:#a871fb;
      }
    }
  }
}
.m_zan {
  width:617rem/$base;
  height:77rem/$base;
  padding-top:20rem/$base;
  text-indent:66rem/$base;
  @include sprite(0,-68);
  margin:0 auto;
  font-size:28rem/$base;
  span {
    color:#ff699e;
  }
}
.m_flow {
  position:relative;
  height:942rem/$base;
  background:url(../images/l2.jpg) no-repeat;
  background-size:16rem auto;
  margin-bottom:44rem/$base;
  .f1 {
    height:471rem/$base;
    background:url(../images/l1.jpg) no-repeat;
    background-size:16rem auto;
  }
  a {
    position:absolute;
    box-sizing: border-box;
    border-bottom:5rem/$base solid rgba(0,0,0,0.1);
    text-align:center;
  }
  .red {
    width:230rem/$base;
    height:80rem/$base;
    background:#ff83c1;
    color:#ffffff;
    font-size:28rem/$base;
    line-height:80rem/$base;
    border-radius:10rem/$base;
    &:active {
      background:#f875b6;
    }
  }
  .yellow {
    width:231rem/$base;
    height:51rem/$base;
    background:#ffe57c;
    color:#825300;
    font-size:22rem/$base;
    line-height:51rem/$base;
    border-radius:10rem/$base;
    &:active {
      background:#ffe26f;
    }
  }
  .tt {
    left:38rem/$base;
    top:144rem/$base;
  }
  .wz {
    right:31rem/$base;
    bottom:10rem/$base;
  }
  .active {
    right:29rem/$base;
    top:294rem/$base;
  }
  .d26 {
    left:64rem/$base;
    top:453rem/$base;
  }
  .d1 {
    right: 56rem/$base;
    top:602rem/$base;
  }
  .d10 {
    left:29rem/$base;
    bottom:98rem/$base;
  }
}
.g_content {
  padding:0 22rem/$base;
  section {
    background:#3d90ff;
    border-radius:15rem/$base;
    margin-bottom:40rem/$base;
  }
  .m_rank {
    h4 {
      div {
        background:#f7b84c;
      }
    }
    ul {
      padding:12rem/$base;
    }
    li {
      position:relative;
      height:154rem/$base;
      box-sizing: border-box;
      border-bottom:solid 4rem/$base #3282ed;
      border-radius:10rem/$base;
      background:#78b8ff;
      margin-bottom:12rem/$base;
    }
    li:nth-of-type(2){
      background:#ffd050;
      .rank {
        border-right:solid 1rem/$base #ffe59d;
        div {
          @include sprite(0,0);
        }
        &:after{
          content:"";
          position:absolute;
          right:0;
          top:0;
          width:2rem/$base;
          height:150rem/$base;
          background:#efba2a;
        }
      }
    }
    li:nth-of-type(3){
      background:#b1e34f;
      .rank {
        border-right:solid 1rem/$base #ceff6e;
        div {
          @include sprite(-67,0);
        }
        &:after{
          content:"";
          position:absolute;
          right:0;
          top:0;
          width:2rem/$base;
          height:150rem/$base;
          background:#a0d33c;
        }
      }
    }
    li:nth-of-type(4){
      background:#cfafff;
      .rank {
        border-right:solid 1rem/$base #ddc6ff;
        div {
          @include sprite(-138,0);
        }
        &:after{
          content:"";
          position:absolute;
          right:0;
          top:0;
          width:2rem/$base;
          height:150rem/$base;
          background:#b590ee;
        }
      }
    }
  }
  h4 {
    position:relative;
    box-sizing: border-box;
    width:520rem/$base;
    height:64rem/$base;
    border-radius:35rem/$base;
    border:solid 6rem/$base #3d90ff;
    overflow: hidden;
    margin:0 auto;
    top:-34rem/$base;
    div {
      box-sizing: border-box;
      border-bottom:solid 5rem/$base rgba(0,0,0,0.1);
      color:#fff;
      text-align:center;
      font-size:32rem/$base;
      border-radius:35rem/$base;
      height:54rem/$base;
      line-height:54rem/$base;
    }
  }
  .tips {
    margin-top:-34rem/$base;
    text-align:center;
    line-height:53rem/$base;
    font-size:22rem/$base;
    color:#ffe57c;
  }

  .rank {
    position:absolute;
    left:0;
    top:0;
    width:114rem/$base;
    height:150rem/$base;
    text-align:center;
    border-right:solid 1rem/$base #86b9ff;
    &:after{
      content:"";
      position:absolute;
      right:0;
      top:0;
      width:2rem/$base;
      height:150rem/$base;
      background:#62a6f2;
    }
    div {
      padding-top:10rem/$base;
      margin:43rem/$base auto 0;
      font-size:30rem/$base;
      font-weight:bold;
      color:#fff;
      width:64rem/$base;
      height:54rem/$base;
    }
  }
  .userinfo {
    position:relative;
    margin-left:115rem/$base;
    .img {
      position:absolute;
      top:33rem/$base;
      left:16rem/$base;
    }
    .img,img{
      width:86rem/$base;
      height: 86rem/$base;
      border-radius:100%;
      overflow: hidden;
    }
  }
  .info {
    margin-left:110rem/$base;
    p {
      line-height:154rem/$base;
      font-size:28rem/$base;
      color:#333333;
      width:230rem/$base;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .zan {
    position:absolute;
    right:25rem/$base;
    top:21rem/$base;
    text-align:center;
    i {
      margin:0 auto;
      display: block;
      width:54rem/$base;
      height:54rem/$base;
      @include sprite(-203,-1);
      margin-bottom:8rem/$base;
    }
    span {
      color:#333333;
      font-size:20rem/$base;
      em {
        color:#f64966;
        font-style:normal;
      }
    }

  }

  .my {
    background:#6dabff;
    .rank {
      border-right:solid 1rem/$base #86b9ff;
      &:after{
        content:"";
        position:absolute;
        right:0;
        top:0;
        width:2rem/$base;
        height:150rem/$base;
        background:#539cff;
      }
      span {
        display:block;
        padding-top:26rem/$base;
        line-height:46rem/$base;
        font-size:22rem/$base;
        color:#fff;

      }
      i {
        font-weight: bold;
        font-size:36rem/$base;
        color:#ffe57c;
        line-height:41rem/$base;
        font-style: normal;
      }
    }
    .info {
      color:#fff;
      div {
        padding-top:32rem/$base;
        line-height:50rem/$base;
        font-size:28rem/$base;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      span {
        line-height:36rem/$base;
        font-size:20rem/$base;
      }
      i {
        color:#fff600;
        font-style:normal;
      }
    }
    .btn {
      display:block;
      box-sizing: border-box;
      text-align:center;
      width:100rem/$base;
      height:42rem/$base;
      font-size:22rem/$base;
      color:#fff;
      line-height:42rem/$base;
      background:#ff83c1;
      border-radius:10rem/$base;
      border-bottom:5rem/$base solid rgba(0,0,0,0.1);
      &:active{
        background:#f875b6;
      }
    }

  }
  .m_ewm {
    position:relative;
    height:291rem/$base;
    h4 {
      div {
        background:#ff83c1;
      }
    }
    img{
      width:211rem/$base;
      height:211rem/$base;
      position:absolute;
      left:93rem/$base;
      top:53rem/$base;
    }
    p {
      margin:55rem/$base 0 0 344rem/$base;
      line-height: 33rem $base;
      color:#fff;
    }
  }
  .m_comment {
    padding:0 28rem/$base 20rem/$base;
    h4 {
      div {
        background:#aa5ef1;
      }
    }
    .plug{
      margin-top:-16rem/$base;
      height:902rem/$base;
      background:url(../images/pl.png) no-repeat;
      background-size:541rem/$base auto;
    }
  }
  .m_hint {
    box-sizing:border-box;
    height:62rem/$base;
    background:#ff83c1;
    border-radius:30rem/$base;
    border-bottom:2rem/$base solid #f56eb1;
    font-size:28rem/$base;
    text-align:center;
    color:#fff;
    line-height:60rem/$base;
    margin-bottom:11rem/$base;
    em {
      display: inline-block;
      font-style: normal;
      width:180rem/$base;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      vertical-align: middle;

    }
    span{
      color:#ffe050;
    }
  }
  .m_jzan {
    position:relative;
    height:223rem/$base;
    background:#3d90ff;
    border-radius:12rem/$base;
    margin-bottom:20rem/$base;
    .img {
      position:absolute;
      left:42rem/$base;
      top:36rem/$base;
      width:146rem/$base;
      height:146rem/$base;
      border-radius:100%;
      overflow:hidden;
    }
    img {
      border-radius:100%;
      width:146rem/$base;
      height:146rem/$base;
    }
    .btn {
      padding-top:27rem/$base;
      margin-left:247rem/$base;
    }
    a {
      display: block;
      width:331rem/$base;
      height:100rem/$base;
      border-radius:12rem/$base;
      text-align:center;
      line-height:96rem/$base;
      border-bottom:4rem/$base solid rgba(0,0,0,0.1);
      margin-bottom:12rem/$base;
      background:#ffe050;
      font-size:30rem/$base;
      color:#333333;
    }
    p {
      line-height:25rem/$base;
      font-size:20rem/$base;
      color:#fff;
    }
  }
  .m_fl {
    padding-bottom:16rem/$base;
    ul {
      overflow: hidden;
    }
    li {
      position:relative;
      width:292rem/$base;
      height:320rem/$base;
      margin-bottom:14rem/$base;
    }
    li:nth-of-type(1){
      background:url(../images/sbg1.jpg) no-repeat;
      background-size:292rem/$base 320rem/$base;
    }
    li:nth-of-type(2){
      background:url(../images/sbg2.jpg) no-repeat;
      background-size:292rem/$base 320rem/$base;
    }
    li:nth-of-type(3){
      background:url(../images/sbg3.jpg) no-repeat;
      background-size:292rem/$base 320rem/$base;
    }
    li:nth-of-type(4){
      background:url(../images/sbg4.jpg) no-repeat;
      background-size:292rem/$base 320rem/$base;
    }
    h5 {
      line-height:66rem/$base;
      text-align:center;
      color:#ffe57c;
      font-size:26rem/$base;
      font-style: normal;
    }
    span {
      position:absolute;
      left:18rem/$base;
      bottom:20rem/$base;
      width:264rem/$base;
      height:50rem/$base;
      line-height:50rem/$base;
      text-align:center;
      background:#ffe57c;
      border-radius:10rem/$base;
      color:#825300;
      font-size:24rem/$base;
    }
  }
}
footer {
  text-align:center;
  padding-bottom:50rem/$base;
  dt {
    display: inline-block;
    width:261rem/$base;
    height:25rem/$base;
    @include sprite(-264,0);
    margin-bottom:15rem/$base;
  }
  dl{
    font-size:20rem/$base;
    color:#666666;
    line-height:28rem/$base;
  }
}