/*  reset */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,figure{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0;}
del,ins{text-decoration:none}
fieldset,img{border:0;}
button,input,select,textarea{font-family:"Microsoft Yahei",Arial,Helvetica,sans-serif;}
input,select,img{vertical-align:middle}
input,select{outline:none}
ul,ol{list-style:none}
label{cursor:pointer}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
body{-ms-text-size-adjust:none;-o-user-select:none;-o-text-size-adjust:none;user-select:none;text-size-adjust:none;font:0.6rem "微软雅黑",Arial,Helvetica,sans-serif;min-height:100%;}
a{-webkit-user-select:none;-webkit-user-drag:none;-webkit-tap-highlight-color:rgba(0,0,0,0);text-decoration: none;}
.clearfix:after{content:"";height:0;visibility:hidden;display:block;clear:both;}
.clearfix{zoom:1;}
.clear{clear:both}
.fl{float:left;}
.fr{float:right;}
/*  end reset */
$base:40;
.m_tab {
  margin:0 24rem/$base;
  height:80rem/$base;
  border-bottom:solid 4rem/$base #fcbb28;
  border-radius:15rem/$base;
  a {
    position:relative;
    float:left;
    width:50%;
    text-align:center;
    color:#fff;
    font-size:40rem/$base;
    font-weight:bold;
    line-height:80rem/$base;
    i {
      position: absolute;
      width:0;
      height:0;
      line-height:0;
      border-width:15rem/$base 38rem/$base 0;
      border-style:solid dashed dashed dashed;
      top:80rem/$base;
      left:50%;
      margin-left:-19rem/$base;
    }
  }
  .xsl {
    border-radius:15rem/$base 0 0 15rem/$base;
    background:#eb493d;
    i {
      border-color:#eb493d transparent transparent transparent;
    }
  }
  .drb {
    background:#7541d3;
    border-radius:0 15rem/$base  15rem/$base 0;
    i {
      border-color:#7541d3 transparent transparent transparent;
    }
  }
}